##
## Global configuration
global:
  ##
  ## The Stripe secret key from your Stripe account dashboard. 
  ## Required if you want Stripe payments to work.
  stripeKey: YOUR_PRIVATE_STRIPE_API_KEY

  ##
  ## Set this if you want to track storefront analytics such as 
  ## page views with Segment. You can find this key on your Segment dashboard.
  segmentKey: YOUR_PRIVATE_SEGMENT_API_KEY

  ##
  ## The MongoDB database URL.
  ## Note: This overrides the Mongo subchart values i.e. bring your own
  # mongoUrl: 

  ##
  ## The oplog URL for the MongoDB deployment.
  ## Note: This overrides the Mongo subchart values i.e. bring your own
  # mongoOplogUrl: 

  ## A secret token that you need to change
  tokenSecret: ThisIsAnUnsecurePlaceHolder!ChangeMe!

##
## Admin panel configuration
admin:
  enabled: true
  ssl: true
  host: admin.example.shop
  replicaCount: 2
  image:
    repository: reactioncommerce/admin
    tag: 4.0.0-beta.12
    pullPolicy: IfNotPresent
    # imagePullSecret:
  service:
    annotations: {}
    type: ClusterIP
  ingress:
    enabled: true
    path: "/"
    annotations: {}
    livenessPath:
    tls:
      enabled: false
      secretName: tls-secret

  ## Resource requests/limits for the Open Commerce Admin pods
  ##
  ## EXAMPLE:
  ##   resources:
  ##     requests:
  ##       cpu: "500m"
  ##       memory: "1Gi"
  ##
  resources: {}

##
## API configuration
api:
  enabled: true
  host: api.example.shop
  ssl: true
  replicaCount: 2

  ##
  ## Serve the GraphQL Playground UI from /graphql
  # enableGraphQlPlayground: false

  ##
  ## Allow introspection of the GraphQL API.
  # enableGraphQlIntrospection: false

  ##
  ## An SMTP mail url, e.g. smtp://user:pass@example.com:465, that is 
  ## used to send all transactional emails from the email-smtp plugin.
  # mailUrl: smtp://user:pass@example.com:465

  ##
  ## If this is true, on startup the API will auto-initialize a MongoDB 
  ## replica set if one isn't found.
  initReplicaSet: false
  image:
    repository: reactioncommerce/reaction
    tag: 4.1.4
    pullPolicy: IfNotPresent
    # imagePullSecret:
  service:
    annotations: {}
    type: ClusterIP
  ingress:
    enabled: true
    path: "/"
    annotations: {}
    livenessPath:
    tls:
      enabled: false
      secretName: tls-secret

  ## Resource requests/limits for the Open Commerce API pods
  ##
  ## EXAMPLE:
  ##   resources:
  ##     requests:
  ##       cpu: "500m"
  ##       memory: "1Gi"
  ##
  resources: {}

##
## Example storefront configuration
web:
  enabled: true
  host: example.shop
  ssl: true
  replicaCount: 2
  sessionSecret: PlaceHolder!ChangeMe!
  image:
    repository: reactioncommerce/example-storefront
    tag: 5.1.0
    pullPolicy: IfNotPresent
    # imagePullSecret:
  service:
    annotations: {}
    type: ClusterIP
  ingress:
    enabled: true
    path: "/"
    annotations: {}
    livenessPath:
    tls:
      enabled: true
      secretName: tls-secret

  ## Resource requests/limits for the Open Commerce Storefront pods
  ##
  ## EXAMPLE:
  ##   resources:
  ##     requests:
  ##       cpu: "500m"
  ##       memory: "1Gi"
  ##
  resources: {}

##
## MongoDB chart configuration
mongodb:
  enabled: true
  auth:
    enabled: true
    rootPassword: reaction
    rootUser: admin
  architecture: replicaset
  replicaSetName: rs0
  replicaCount: 2
  replicaSetHostnames: true
  persistence:
    enabled: true
    size: 8Gi
    storageClass: ""
  arbiter:
    enabled: true
  service:
    annotations: {}
    type: ClusterIP
    port: 27017

